/**** STYLE SHEET ****/

body {
	font-family: Helvetica, sans-serif;
	font-size: 1em;
}

.top-container{
	width: 100%;
	height: 750px;
	background-size: cover;
	background-position: center; 
	background-image: url("images/k_couch.jpg");
}

h1 {
	font-weight: 900;
}

.top-bar {
	height: 200px;
	color: white;
}

.top-bar-links  {
	  list-style-type: none;
	  width: 520px;
	  margin-left: auto;
	  margin-right: auto;
	  padding-top: 20px;
	  
	  vertical-align: baseline;
	  
	  }
  
.top-bar-links li {
  	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 15px;
	text-decoration: none;
	}

.top-bar-links li a {
  	text-decoration: none;
  	color: #ffffff;
  }
  
.bottom-container {
	width: 100%;
	height: 100px;
	background-color: e2d456;
}

.bottom-bar {
	  list-style-type: none;
	  width: 1000px;
	  margin-left: auto;
	  margin-right: auto;
	  padding-top: 20px;
	  
	  vertical-align: baseline;
}

.bottom-square {
	float: left;
	display: inline;
	width: 220px;
	margin-left: 10px;
	margin-right: 10px; 
	margin-bottom: 20px;
}

.bottom-image {
	float: left;
  	width: 50px;
  	height: 50px;
  	margin-bottom: 10px;
  	padding-right: 10px;
}
