body {
	font-family: Futura, "futura-pt", "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	background-color: #f4f4f4;
	font-size: 20px;
}


.content {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}


header {
	margin-bottom: 0;
	margin-top: 0;
}

header img {
	width: 100%;
	display: block;
}
nav {
	text-transform: uppercase;
	/* background-color: #e7e1c7; */
	margin-top: 0;
	margin-bottom: 0;
	height: 100px;
}


.title-info {
	font-size: 48px;
	line-height: 0.1;
	position: relative;
	top: 35%;
	left: 170px
}

.title-info p {
	margin-top: 0.7em;
}

nav ul {
	margin-top: 0;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	position: relative;
	display: block;
	text-align: center;
}

nav li {
	list-style: none;
	display: inline;
	padding: 18px;
	font-size: 24px;
}


nav a {
	text-decoration: none;
	color: inherit;
}


.menu {
	/* background-color: purple; */
	text-align: center;
	margin-top: 0;
	top: 50%;
	position: relative;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.selected {
	border-bottom: 3px #1f5c92 solid;
	padding-bottom: 6px;
}

h3 {
	text-align: center;
	font-weight: normal;
	clear:both;
	text-transform: uppercase;
	padding-top: 2em; /* This isn't quite right... the "float left/right" divs are messing up the layout...their parent div isn't being sized properly, breaking the flow. Goddamn css. */
}

.five-column {
	width: 730px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
}


.two-column {
	width: 292px;
}

.two-column img {
	width: 280px;
	border: 8px #1f5c92 solid;
}

.float-left {
	float: left;
}


.float-right {
	float: right;
}

.center {
	text-align: center;
}

p {
	line-height: 2;
}



.left-column {
	width: 300px;
	float: left;
}

.right-column {
	width: 430px;
	float: right;
}

.address {
	/* margin-top: 0; */
	top: 50%;
	position: relative;
	transform: translateY(80%);
	-webkit-transform: translateY(80%);
	-ms-transform: translateY(80%);
	line-height: 2;
}

.clearfix {
	padding-top: inherit;
	clear: both;
}

.bigger {
	font-size: 3em;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1;
}


.title-case {
	text-transform: uppercase;
	font-size: 28px;
}